@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @layer utilities {
        .scrollbar {
            @apply scrollbar-thumb-zinc-700 scrollbar-track-zinc-950/70
        }
    }
}